.App {
  text-align: center;
}

.cent
{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
 
background: rgb(9,9,121);
background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 23%, rgba(9,9,121,1) 46%, rgba(9,13,123,1) 47%, rgba(0,212,255,1) 100%); 
}

#this{
  height:70%;
  width:25%;
  background-color: #00000030;
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 5px gray;
  display : flex;
  justify-content: center;

}